body {
    font-family: arial;
    background-color: rgb(219, 213, 213);
}

body img {
    width: 500px;

}

body p {
    color: rgb(255, 153, 0);
    padding: 10px;
    font-size: 45px;
}

h1 {
    text-align: center;
    margin: 20px;
}

body a {
    font-size: 30px;
}